@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Poppins:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background: url(../img/bg-header.jpg) center center/cover;
  width: 100%;
  height: 720px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 20px;
}

.logo__link {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 21px;
  text-decoration: none;
  color: white;
  padding-left: 0.625rem;
}

.logo__svg {
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header__block {
  max-width: 420px;
  margin-top: 0;
}

.block__title {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 60px;
  margin: 0;
}

.block__info {
  max-width: 26.25rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 13px;
  margin: 0;
  margin-top: 13px;
}

.iphone__img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.header__block {
  padding-top: 12.5rem;
  padding-left: 1.25rem;
}

.container-2 {
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

.block-1__info {
  display: flex;
}

.block-1__info__2 {
  padding-top: 4.6875rem;
}

.block-1__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 35px;
}

.block-1__info__1 {
  max-width: 518px;
}

.block-1__info__2 {
  max-width: 518px;
  padding-left: 0.875rem;
}

.block-1__info__text-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #959595;
  font-size: 14px;
}

.con-2__block-2 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-top: 100px;
}

.col-1.col-2.col-3.col-4.col-5 {
  max-width: 350px;
}

.col-4 {
  grid-column-start: -3;
  grid-column-end: -1;
}

.col__info {
  max-width: 300px;
  margin: 40px auto;
}

.col__info-4 {
  max-width: 590px;
  margin: 40px auto;
}

.col-1 {
  max-width: 345px;
  background-color: #f5979c;
}

.col-2 {
  background-color: #615e7d;
  max-width: 345px;
}

.col-3 {
  max-width: 345px;
  background: url(../img/block-bg-1.jpg) center center/cover;
}

.col-4 {
  max-width: 690px;
  background: url(../img/block-bg-2.jpg);
}

.col-5 {
  max-width: 345px;
  background-color: #81c99c;
}

.col__info__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
}

.col__info__parag {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
}

.col__info__btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.col__info__icon {
  padding-left: 10px;
}

.boy {
  max-width: 50px;
  height: 50px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon__love {
  width: 60px;
  height: 60px;
  background: url(../img/heart.png);
  background-size: 2500% 90%;
}

.icon__love.is-active {
  animation: like 1s steps(28);
  transition: like;
  z-index: 100;
}
@keyframes like {
  from {
    background-position-x: left;
  }
  to {
    background-position-x: right;
  }
}

.con-2__block-3 {
  margin-top: 70px;
}

.block-3__cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.block-3__tit {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 35px;
}

.col-web__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: #67676d;
}

.col-web__parag {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #67676d;
  margin-top: 23px;
}

.container-3 {
  background: url(../img/car-bg\ \(1\).jpg) center center/cover;
  width: 100%;
  height: 874px;
}

.car__info {
  max-width: 495px;
  padding-top: 450px;
  margin-left: 150px;
}

.car-title {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: white;
}

.car-parag {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-top: 30px;
  line-height: 24px;
}

.a {
  padding-top: 25px;
}

.link {
  max-width: 125px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header {
    background: url(../img/bg-header1000px.jpg) center center/cover;
  }
}
@media screen and (max-width: 700px) {
  .header {
    background: url(../img/bg-header1000px.jpg) center right/cover;
  }
}
@media screen and (max-width: 820px) {
  .block__title {
    font-size: 60px;
  }

  .block__info {
    font-size: 13px;
  }

  .car-title {
    font-size: 60px;
  }

  .block__info {
    font-size: 13px;
  }

  .header__block {
    padding-top: 10rem;
  }
}
@media screen and (max-width: 980px) {
  .header {
    height: 600px;
  }

  .container-3 {
    height: 600px;
  }

  .car__info {
    padding-top: 200px;
    margin-left: 120px;
  }

  .block__title {
    font-size: 50px;
  }

  .block__info {
    font-size: 12px;
  }

  .car-title {
    font-size: 50px;
  }

  .block__info {
    font-size: 12px;
  }

  .block-1__title {
    font-size: 30px;
  }

  .block-1__info__text-1 {
    font-size: 13px;
  }

  .block-1__info__2 {
    padding-top: 50px;
  }

  .container-2 {
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    height: 500px;
  }

  .container-3 {
    height: 500px;
  }

  .car__info {
    padding-top: 150px;
    margin-left: 100px;
  }

  .block__title {
    font-size: 45px;
  }

  .car-title {
    font-size: 45px;
  }

  .block__info {
    font-size: 11px;
  }

  .car-parag {
    font-size: 11px;
  }

  .block-1__title {
    font-size: 28px;
  }

  .block-1__info__text-1 {
    font-size: 12px;
  }

  .block-1__info__2 {
    padding-top: 40px;
  }

  .container-2 {
    margin-top: 60px;
  }
}
@media screen and (max-width: 700px) {
  .header__block {
    padding-top: 8rem;
  }

  .container-3 {
    height: 450px;
  }

  .car__info {
    padding-top: 130px;
    margin-left: 30px;
  }

  .header {
    height: 450px;
  }

  .block__title {
    font-size: 37px;
  }

  .block__info {
    font-size: 10px;
  }

  .car-title {
    font-size: 37px;
  }

  .car__info {
    font-size: 10px;
  }

  .block-1__title {
    font-size: 25px;
  }

  .block-1__info__2 {
    padding-top: 30px;
  }

  .container-2 {
    margin-top: 60px;
  }
}
@media screen and (max-width: 550px) {
  .header__block {
    padding-top: 6rem;
  }

  .header {
    height: 350px;
  }

  .container-3 {
    height: 400px;
  }

  .car__info {
    padding-top: 70px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .block__title {
    font-size: 30px;
  }

  .block__info {
    font-size: 8px;
  }

  .block-1__title {
    font-size: 20px;
  }

  .block-1__info__2 {
    padding-top: 25px;
  }

  .container-2 {
    margin-top: 40px;
  }

  .block-1__info {
    display: block;
  }

  .block-1__info__2 {
    padding: 0;
  }

  .con-2__block-2 {
    margin-top: 30px;
  }

  .car-parag {
    padding-top: 20px;
  }

  .col__info__btn {
    padding-top: 15px;
  }
}
@media screen and (max-width: 400px) {
  .iphone__img {
    max-width: 250px;
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .header {
    background-position-x: right;
  }

  .header__block {
    padding-top: 3rem;
  }

  .header {
    height: 325px;
  }

  .car__info {
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .block__info {
    margin-top: 0;
  }

  .block__title {
    font-size: 20px;
  }

  .block__info {
    font-size: 8px;
  }

  .block-1__title {
    font-size: 20px;
  }

  .block-1__info__2 {
    padding-top: 0;
  }

  .container-2 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 350px) {
  .header__block {
    max-width: 7.6875rem;
  }

  .block-1__title {
    font-size: 20px;
  }

  .block-1__info__2 {
    padding-top: 0;
  }

  .container-2 {
    margin-top: 20px;
  }

  .block-3__tit {
    font-size: 25px;
  }

  .car__info {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .container-2 {
    max-width: 700px;
  }

  .con-2__block-2 {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }

  .block-3__cols {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media screen and (max-width: 710px) {
  .con-2__block-2 {
    display: block;
  }

  .col-1 {
    height: 240px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-2 {
    height: 240px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-3 {
    height: 240px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-5 {
    height: 240px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-4 {
    height: 240px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col__info__title {
    margin: 0;
  }

  .col__info {
    padding-top: 40px;
    margin: 0;
  }

  .col__info-4 {
    padding-top: 40px;
    margin: 0;
  }

  .col-4 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .block-3__cols {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
  }

  .col-web {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
