.block-4__cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}
.green {
  max-width: 100%;
  background-color: #81c99b;
}
.c {
  max-width: 1050px;
  margin: 0 auto;
}
.padding {
  padding-top: 75px;
  padding-bottom: 85px;
}
.color-wh {
  color: white;
}