.con-2__block-2 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-top: 100px;
}
.col-1.col-2.col-3.col-4.col-5 {
  max-width: 350px;
}
.col-4 {
  grid-column-start: -3;
  grid-column-end: -1;
}
.col__info {
  max-width: 300px;
  margin: 40px auto;
}
.col__info-4 {
  max-width: 590px;
  margin: 40px auto;
}
.col-1 {
  max-width: 345px;
  background-color: #f5979c;
}
.col-2 {
  background-color: #615e7d;
  max-width: 345px;
}
.col-3 {
  max-width: 345px;
  background: url(../img/block-bg-1.jpg) center center / cover;
}
.col-4 {
  max-width: 690px;
  background: url(../img/block-bg-2.jpg);
}
.col-5 {
  max-width: 345px;
  background-color: #81c99c;
}
.col__info__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
}
.col__info__parag {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
}
.col__info__btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
.col__info__icon {
  padding-left: 10px;
}
.boy {
  max-width: 50px;
  height: 50px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon__love {
  width: 50px;
  height: 50px;
  background: url(../img/heart.png);
  background-size: 4000% 140%;
}
.icon__love.is-active {
  animation: like 1s steps(28);
  transition: like;
  z-index: 100;
  @keyframes like {
    from {
      background-position-x: left;
    }
    to {
      background-position-x: right;
    }
  }
}

