.container-3 {
  background: url(../img/car-bg\ \(1\).jpg) center center / cover;
  width: 100%;
  height: 874px;
}
.car__info {
  max-width: 495px;
  padding-top: 450px;
  margin-left: 150px;
}
.car-title {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: white;
}
.car-parag {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-top: 30px;
  line-height: 24px;
}
.a {
  padding-top: 25px;
}
.link {
  max-width: 125px;
  text-decoration: none;
  cursor: pointer;
}
